
/.vs
/CrackerBarrelPegGame.Logic/bin
/CrackerBarrelPegGame.Logic/obj
/CrackerBarrelPegGame.UnitTests/bin
/CrackerBarrelPegGame.UnitTests/obj
/CrackerBarrelPegGame/bin
/CrackerBarrelPegGame/obj
